{extend name="common/public" /}

{block name="title"}
材料管理
{/block}


{block name="content"}
<span class="layui-breadcrumb">
  <a href="">后台管理系统</a>
  <a><cite>材料管理</cite></a>
</span>

<div class="content" style="margin-top: 20px">
    <div class="layui-card">
        <div class="layui-card-header">
            <button type="button" class="layui-btn layui-btn-sm" id="add">
                添加材料
            </button>
        </div>
        <div class="layui-card-body">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>型号</th>
                    <th>规格</th>
                    <th>材料名称</th>
                    <th>材料单价（元/kg）</th>
                    <th>材料用量（kg/千米）</th>
                    <th>小计（元/千米）</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $key => $val}
                <tr>
                    <td>{$key + 1}</td>
                    <td>{$val.name}</td>
                    <td>{$val.model_name}</td>
                    <td>{$val.size_height}×{$val.size_width}</td>
                    <td>{$val.material_name}</td>
                    <td>{$val.material_price}</td>
                    <td>{$val.material_dosage}</td>
                    <td>{$val.total}</td>
                    <td>{$val.create_time}</td>
                    <td>
                        <div class="layui-btn-group">
                            <button type="button" class="layui-btn layui-btn-sm edit" value="{$val.id}">编辑</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="deleteData({$val.id})">删除</button>
                        </div>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
</div>


<div class="alertBox" style="display: none">
    <div class="layui-form" style="padding: 15px">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <select name="nameId" lay-verify="required" lay-filter="name">
                    {foreach $nameList as $key => $val}
                    <option value="{$val.id}">{$val.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">型号</label>
            <div class="layui-input-block">
                <select name="modelId" lay-verify="required" lay-filter="model">
                    {foreach $modelNameList as $key => $val}
                    <option value="{$val.id}">{$val.model_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">规格</label>
            <div class="layui-input-block">
                <select name="sizeId" lay-verify="required">
                    {foreach $sizeList as $key => $val}
                    <option value="{$val.id}">{$val.size_height}×{$val.size_width}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">材料名称</label>
            <div class="layui-input-block">
                <input type="text" name="material_name" required  lay-verify="required" placeholder="材料名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">材料单价（元/kg）</label>
            <div class="layui-input-block">
                <input type="text" name="material_price" required  lay-verify="required" placeholder="材料单价（元/kg）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">材料用量（kg/千米）</label>
            <div class="layui-input-block">
                <input type="text" name="material_dosage" required  lay-verify="required" placeholder="材料用量（kg/千米）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">小计（元/千米）</label>
            <div class="layui-input-block">
                <input type="text" name="total" required  lay-verify="required" placeholder="小计（元/千米）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['layer', 'form', 'laypage'], function(){
        let layer = layui.layer, form = layui.form, $ = layui.$, laypage = layui.laypage;

        laypage.render({
            elem: 'page'
            ,count: {$count}
            ,limit: {$limit}
            ,curr: {$page}
            ,jump: function(obj, first) {
                if(!first){
                    window.location.href = "/admin/material?page=" + obj.curr + "&limit=" + obj.limit
                }
            }
        });
        
        $('#add').on('click', function(){
            let element = $('.alertBox').html();
            layer.open({
                title: "添加材料",
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 1,
                area: ['500px', '580px'],
                anim: 2,
                shadeClose: false,
                content: element,
                success: function() {
                    form.render()
                    form.on('submit(submit)', function(obj) {
                        $.post('/admin/material/addMaterial', obj.field, function(resp){
                            if (resp.code != 0) {
                                layer.msg(resp.errors, {icon: 5})
                                return
                            } else {
                                layer.closeAll()
                                layer.msg("添加成功", {time: 1500, end: function(){
                                        location.reload();
                                    }});
                            }
                        });
                    })
                }
            });
        })

        $('.edit').on('click', function() {
            let id = $(this).attr('value')
            let element = $('.alertBox').html();
            let loading = layer.load(1, {
                shade: [0.3,'#000'] //0.1透明度的白色背景
            });
            $.post('/admin/material/getMaterialInfo', {'id': id}, function (resp) {
                layer.close(loading)
                if (resp.code == 0) {
                    let data = resp.data
                    getModelList(data.nameId)
                    getSizeList(data.nameId, data.modelId)

                    layer.open({
                        title: "修改材料信息",
                        type: 1,
                        skin: 'layui-layer-demo', //样式类名
                        closeBtn: 1,
                        anim: 2,
                        area: ['500px', '580px'],
                        shadeClose: false,
                        content: element,
                        success: function() {
                            $('.layui-layer-content').find('.layui-form').attr('lay-filter', "editForm")
                            form.val("editForm", {
                                "nameId": data.nameId,
                                "modelId": data.modelId,
                                "sizeId": data.sizeId,
                                "material_name": data.material_name,
                                "material_price": data.material_price,
                                "material_dosage": data.material_dosage,
                                "total": data.total
                            })
                            form.render()
                            form.on('submit(submit)', function(obj) {
                                obj.field.id = id
                                $.post('/admin/material/editMaterialInfo', obj.field, function(resp){
                                    if (resp.code != 0) {
                                        layer.msg(resp.errors, {icon: 5})
                                        return
                                    } else {
                                        layer.closeAll()
                                        layer.msg("修改成功", {time: 1500, end: function(){
                                                location.reload();
                                            }});
                                    }
                                });
                            })
                        }
                    });
                }
            })
        })

        form.on('select(name)', function(data){
            let nameId = data.value
            getModelList(nameId)
        });

        function getModelList(nameId) {
            $('select[name="modelNameId"]').empty()
            $('select[name="sizeId"]').empty()
            let loading = layer.load(1, {
                shade: [0.3,'#000'] //0.1透明度的白色背景
            });
            $.post('/admin/model/getModelList', {nameId: nameId}, function (resp) {
                if (resp.code == 0) {
                    let modelElement = "";
                    let sizeElement = ""
                    $.each(resp.data.modelList, function(key, val) {
                        if (key == 0) {
                            modelElement += '<option value="'+val.id+'" selected>'+val.model_name+'</option>'
                        } else {
                            modelElement += '<option value="'+val.id+'">'+val.model_name+'</option>'
                        }
                    })
                    $.each(resp.data.sizeList, function(key, val) {
                        if (key == 0) {
                            sizeElement += '<option value="'+val.id+'" selected>'+val.size_height + "×" + val.size_width +'</option>'
                        } else {
                            sizeElement += '<option value="'+val.id+'">'+val.size_height + "×" + val.size_width +'</option>'
                        }
                    })
                    $('select[name="modelNameId"]').append(modelElement)
                    $('select[name="sizeId"]').append(sizeElement)
                    form.render()
                    layer.close(loading)
                }
            })
        }

        form.on('select(model)', function(data){
            let nameId = $('select[name="nameId"]').val()
            let modelId = data.value
            getSizeList(nameId, modelId)
        });

        function getSizeList(nameId, modelId) {
            $('select[name="sizeId"]').empty()
            let loading = layer.load(1, {
                shade: [0.3,'#000'] //0.1透明度的白色背景
            });
            $.post('/admin/size/getSizeList', {nameId: nameId, modelId: modelId}, function (resp) {
                if (resp.code == 0) {
                    let sizeElement = ""
                    $.each(resp.data.sizeList, function(key, val) {
                        if (key == 0) {
                            sizeElement += '<option value="'+val.id+'" selected>'+val.size_height + "×" + val.size_width +'</option>'
                        }
                        sizeElement += '<option value="'+val.id+'">'+val.size_height + "×" + val.size_width +'</option>'
                    })
                    $('select[name="sizeId"]').append(sizeElement)
                    form.render()
                    layer.close(loading)
                }
            })
        }

        window.deleteData = function(id) {
            layer.confirm('您确定要删除吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post('/admin/material/deleteMaterial', {id: id}, function(resp){
                    if (resp.code != 0) {
                        layer.msg(resp.errors, {icon: 5})
                        return
                    } else {
                        layer.msg("删除成功", {time: 1500, end: function(){
                                location.reload();
                            }});
                    }
                });
            }, function(){
                return;
            });
        }
    });
</script>
{/block}