<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/home/css/elementUi.css">
    <title>首页</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html, body {
            background: #f3f3f3;
            height: 100%;
        }
        #app {
            width: 100%;
            background: #fff;
        }

        header, header img{
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            #app {
                width: 414px;
                margin: 0 auto;
            }
        }

        .top-form .el-select, .bottom-form .el-input{
            width: calc(100% - 40px)
        }

        .el-form-item {
            margin-bottom: 10px;
        }
        .btns {
            box-sizing: border-box;
            padding-left: 40px;
        }
    </style>
</head>
<body>
    <div id="app" v-loading="loading">
        <header>
            <img src="http://buysell-image-1.oss-cn-beijing.aliyuncs.com/upload/image/三信电气2_354108.jpg" alt="">
        </header>

        <main style="box-sizing: border-box;padding: 10px 15px">
            <el-form ref="form" :model="form" class="top-form">
                <el-form-item label="名称">
                    <el-select v-model="form.nameId" placeholder="请选择名称" @change="getModel" >
                        {foreach $nameList as $key => $value}
                        <el-option label="{$value.name}" value="{$value.id}"></el-option>
                        {/foreach}
                    </el-select>
                </el-form-item>
                <el-form-item label="型号">
                    <el-select v-model="form.modelId" placeholder="请选择型号" @change="getSizeList" :disabled="modelSelect">
                        <el-option v-for="item in modelList" :label="item.model_name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="规格">
                    <el-select v-model="form.sizeId" placeholder="请选择规格" :disabled="sizeSelect" @change="getMaterial">
                        <el-option v-for="item in sizeList" :label="item | getSize" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item :label="zhuxianStr" v-if="zhuxianIsShow">

                </el-form-item>
            </el-form>

            <el-table :data="tableList" border style="width: 100%">
                <el-table-column prop="material_name" label="材料名称">

                </el-table-column>
                <el-table-column prop="material_price" label="材料单价（元/kg）">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.material_price" :value="scope.row.material_price" placeholder=""></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="material_dosage" label="材料用量（kg/千米）">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.material_dosage" :value="scope.row.material_dosage" placeholder=""></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="total" label="小计（元/千米）">

                </el-table-column>
            </el-table>

            <el-form class="bottom-form" ref="data" :model="data" style="margin-top: 15px">
                <el-form-item label="成本">
                    <el-input v-model="data.cost" placeholder="" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="利润">
                    <el-input v-model="data.profit"
                              @input="changeCost"
                              placeholder="0%" style="width: calc(95% - 40px)"></el-input> %
                </el-form-item>
                <el-form-item label="单价">
                    <el-input v-model="data.price" placeholder="" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item class="btns">
                    <el-button type="primary" @click="reset">重新计算</el-button>
                    <el-button @click="saveData">保存数据</el-button>
                </el-form-item>
            </el-form>
        </main>
    </div>
</body>
</html>
<script src="__STATIC__/home/js/vue.js"></script>
<script src="__STATIC__/home/js/elementUi.js"></script>
<script src="__STATIC__/home/js/jquery.js"></script>
<script>
    let vm =  new Vue({
        el: '#app',
        data:  {
            form: {
                nameId: "",
                modelId: "",
                sizeId: ""
            },
            modelSelect: true,
            modelList: [],
            sizeSelect: true,
            sizeList: [],
            loading: false,
            data: {
                cost: "0/米",
                profit: "0",
                price: "0/米"
            },
            tableList: [],
            cost: 0,
            price: 0,
            zhuxianStr: "",
            zhuxianIsShow: false
        },
        methods: {
            getModel: function(value) {
                let _this = this
                this.modelSelect = true
                this.modelList = []
                this.sizeSelect = true
                this.loading = true
                this.form.modelId = ""
                this.form.sizeId = ""
                this.tableList = [];
                this.zhuxianIsShow = false
                this.data = {
                        cost: "0/米",
                        profit: "0",
                        price: "0/米"
                }
                $.post('/home/getModelList', {nameId: value}, function(resp) {
                    if (resp.code == 0) {
                        _this.loading = false
                        _this.modelSelect = false
                        _this.modelList = resp.data
                    }
                })
            },
            getSizeList: function(value) {
                let _this = this
                this.sizeSelect = true
                this.sizeList = []
                this.form.sizeId = ""
                this.loading = true
                this.tableList = [];
                this.zhuxianIsShow = false
                this.data = {
                    cost: "0/米",
                    profit: "0",
                    price: "0/米"
                }
                $.post('/home/getSizeList', {modelId: value, nameId: this.form.nameId}, function(resp) {
                    if (resp.code == 0) {
                        _this.loading = false
                        _this.sizeSelect = false
                        _this.sizeList = resp.data
                    }
                })
            },
            getMaterial: function(value) {
                let _this = this
                this.zhuxianIsShow = false
                this.sizeList.forEach(function (item, key) {
                    if (item.id == value) {
                        if (item.size_number != 0) {
                            _this.zhuxianStr = "主线直径（"+item.size_number+"根）: "+item.size_value+""
                            _this.zhuxianIsShow = true
                        }
                    }
                })
                this.loading = true
                $.post('/home/getMaterial', this.form, function(resp) {
                    if (resp.code == 0) {
                        _this.tableList = resp.data
                        let cost = 0;
                        // 计算成本利润
                        resp.data.forEach(function(val, key) {
                            cost += parseFloat(val.total)
                        })
                        let sum = cost / 1000
                        _this.data.cost = sum.toFixed(3) + "/米";
                        _this.cost = sum.toFixed(3)
                        _this.data.price = sum.toFixed(3) + "/米";
                        _this.price = sum.toFixed(3)
                    }
                    _this.loading = false
                })
            },
            changeCost: function(value) {
                if (value == "") {
                    return false;
                }
                if (this.isNumber(value) == false || value > 100 || value < 0) {
                    this.$message({
                        message: '请输入0-100的数据字',
                        type: 'warning'
                    });
                    this.data.profit = 0
                    this.data.price = this.data.cost
                    this.price = this.cost
                    return false;
                }

                let changeCost = (parseFloat(this.cost) * (value / 100))
                let sum = changeCost + parseFloat(this.cost)
                this.data.price = sum.toFixed(3) + "/米"
            },
            isNumber: function(value) {
                let patrn = /^(-)?\d+(\.\d+)?$/;
                if (patrn.exec(value) == null || value == "") {
                     return false
                } else {
                     return true
                }
            },
            saveData() {
                if (this.tableList.length == 0) {
                    this.$message({
                        message: '暂无材料数据，无法保存',
                        type: 'warning'
                    });
                    return false
                }
                this.loading = true
                let param = {}
                param.nameId = this.form.nameId
                param.modelId = this.form.modelId
                param.sizeId = this.form.sizeId
                param.profit = this.data.profit
                param.tableList = this.tableList
                let _this = this
                $.post('/home/saveData', param, function(resp) {
                    _this.loading = false
                    if (resp.code == 0) {
                        _this.$message({
                            message: '保存成功',
                            type: 'success'
                        });
                    }
                })
            },
            reset() {
                let _this = this
                let cost = 0;
                this.tableList.forEach(function(item, key) {
                    let floatNum = parseFloat(item.material_price) * parseFloat(item.material_dosage)
                    _this.tableList[key].total = floatNum.toFixed(2)
                    cost += floatNum;
                })

                // 计算成本利润
                let sum = cost / 1000
                _this.data.cost = sum.toFixed(3) + "/米";
                _this.cost = sum.toFixed(3)
                _this.data.price = sum.toFixed(3) + "/米";
                _this.price = sum.toFixed(3)
            }
        },
        filters: {
            getSize(value) {
                return value.size_height + "×" + value.size_width
            },
            addMi(value) {
                return value + "/米"
            }
        }
    })
</script>