<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/home/css/elementUi.css">
    <title>首页</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html, body {
            background: #f3f3f3;
            height: 100%;
        }
        #app {
            width: 100%;
            height: 100%;
            background: #fff;
        }

        header, header img{
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            #app {
                width: 414px;
                margin: 0 auto;
            }
        }

        .top-form .el-select, .bottom-form .el-input{
            width: calc(100% - 40px)
        }

        .el-form-item {
            margin-bottom: 10px;
        }
        .btns {
            box-sizing: border-box;
            padding-left: 40px;
        }
    </style>
</head>
<body>
    <div id="app" v-loading="loading">
        <header>
            <img src="http://buysell-image-1.oss-cn-beijing.aliyuncs.com/upload/image/三信电气2_354108.jpg" alt="">
        </header>

        <main style="box-sizing: border-box;padding: 10px 15px">
            <el-form ref="form" :model="form" class="top-form">
                <el-form-item label="名称">
                    <el-select v-model="form.nameId" placeholder="请选择名称" @change="getModel" >
                        {foreach $nameList as $key => $value}
                        <el-option label="{$value.name}" value="{$value.id}"></el-option>
                        {/foreach}
                    </el-select>
                </el-form-item>
                <el-form-item label="型号">
                    <el-select v-model="form.modelId" placeholder="请选择型号" @change="getSizeList" :disabled="modelSelect">
                        <el-option v-for="item in modelList" :label="item.model_name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="规格">
                    <el-select v-model="form.sizeId" placeholder="请选择规格" :disabled="sizeSelect">
                        <el-option v-for="item in sizeList" :label="item | getSize" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>

            <el-table  border style="width: 100%">
                <el-table-column prop="name" label="材料名称"></el-table-column>
                <el-table-column prop="name" label="材料单价（元/kg）"></el-table-column>
                <el-table-column prop="name" label="材料用量（kg/千米）"></el-table-column>
                <el-table-column prop="name" label="小计（元/千米）"></el-table-column>
            </el-table>

            <el-form class="bottom-form" style="margin-top: 15px">
                <el-form-item label="成本">
                    <el-input v-model="input" placeholder="" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="利润">
                    <el-input v-model="input" placeholder="0%"></el-input>
                </el-form-item>
                <el-form-item label="单价">
                    <el-input v-model="input" placeholder="" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item class="btns">
                    <el-button type="primary" @click="">重新计算</el-button>
                    <el-button>保存数据</el-button>
                </el-form-item>
            </el-form>
        </main>
    </div>
</body>
</html>
<script src="__STATIC__/home/js/vue.js"></script>
<script src="__STATIC__/home/js/elementUi.js"></script>
<script src="__STATIC__/home/js/jquery.js"></script>
<script>
    let vm =  new Vue({
        el: '#app',
        data:  {
            form: {
                nameId: "",
                modelId: "",
                sizeId: ""
            },
            modelSelect: true,
            modelList: [],
            sizeSelect: true,
            sizeList: [],
            input: "",
            loading: false
        },
        methods: {
            getModel: function(value) {
                let _this = this
                this.modelSelect = true
                this.modelList = []
                this.sizeSelect = true
                this.loading = true
                this.form.modelId = ""
                this.form.sizeId = ""
                $.post('/home/getModelList', {nameId: value}, function(resp) {
                    if (resp.code == 0) {
                        _this.loading = false
                        _this.modelSelect = false
                        _this.modelList = resp.data
                    }
                })
            },
            getSizeList: function(value) {
                let _this = this
                this.sizeSelect = true
                this.sizeList = []
                this.form.sizeId = ""
                this.loading = true
                $.post('/home/getSizeList', {modelId: value, nameId: this.form.nameId}, function(resp) {
                    if (resp.code == 0) {
                        _this.loading = false
                        _this.sizeSelect = false
                        _this.sizeList = resp.data
                    }
                })
            }
        },
        filters: {
            getSize(value) {
                console.log(1)
                return value.size_height + "×" + value.size_width
            }
        }
    })
</script>