<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{block name="title"}{/block}</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">后台管理系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    Admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">Your Profile</a></dd>
                    <dd><a href="">Settings</a></dd>
                    <dd><a href="">Sign out</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item {if condition="$item == 'name'"}layui-this{/if}">
                    <a href="/admin">名称管理</a>
                </li>
                <li class="layui-nav-item {if condition="$item == 'model'"}layui-this{/if}">
                    <a href="/admin/model">型号管理</a>
                </li>
                <li class="layui-nav-item {if condition="$item == 'size'"}layui-this{/if}">
                    <a href="/admin/size">规格管理</a>
                </li>
                <li class="layui-nav-item {if condition="$item == 'material'"}layui-this{/if}">
                    <a href="/admin/material">材料管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">数据管理</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background: #f3f3f3">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            {block name="content"}{/block}
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>
<script src="__STATIC__/layui/layui.js"></script>
{block name="js"}{/block}
</body>
</html>